main {
    margin-top: 10vh;
    margin-bottom: 15vh;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;

}

a {
    margin: 5%;
    width: 30%;
    font-size: 5vh;
}

.fila1 {
    margin-left: 6%;
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 90%;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}


.foto {
    margin: 0;
    margin-top: 4%;
    margin-left: 1%;
    border-radius: 30%;
    width: 80%;
    height: 100%;

}

.medio {
    margin-left: 15%;

}

.derecha {
    font-size: 4vh;
    margin-left: 15%;
}

.fila2 {
    margin: 0;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    background-color: rgb(218, 210, 210);
    border-radius: 50px;
}

main h4 {
    margin-left: 2%;
}

main p {
    margin: 2%;
}

.fila3 {
    margin-top: 2%;
    margin-right: 3%;
    text-align: right;
}

.boton {
    width: 30%;
    background-color: #308df8;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 4px;
    transition-property: background-color, border, color;
    border-radius: 10px;
    border: solid #B6DAB8;

}

.boton:hover {
    background-color: white;
    border: double #308df8;
    color: #308df8;
}

.opiniones {
    background-color: rgb(231, 226, 226);
    margin-left: 3%;
    width: 85%;
    border-radius: 15px;
}

h5 {
    margin: 2%;
}

@media screen and (max-width:769px) {
    .foto {
        margin: 0;
        margin-top: 15%;
        margin-left: 10%;
        border-radius: 30%;
        width: 90%;
        height: 90%;

    }

    .derecha {
        text-align: center;
    }
}

@media screen and (max-width:426px) {
    main {
        margin-top: 15vh;
    }

    .fila1 {
        margin-left: 6%;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 40% 35% 25%;
        justify-content: space-between;
        width: 75%;
        height: auto;
    }

    .foto {
        margin: 0;
        margin-top: 10%;
        margin-left: 20%;
        border-radius: 30%;
        width: 70%;
        height: 100%;

    }

    .medio {
        margin-left: 5%;
        text-align: center;

    }

    .derecha {
        text-align: center;
    }

    .fila3 {
        margin-top: 2%;
        text-align: center;
    }

    .boton {
        width: 50%;
    }
}