main {
    margin-top: 20vh;
    margin-bottom: 15vh;
}



main section {
    margin-left: 15%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 70%;
    border-radius: 20px;
}

main .en-linea:hover {
    border: outset #B6DAB8;
}

.en-linea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 40% 50%;
    border: double #356194;
}

main div {
    margin-left: 4%;
}

.foto {
    margin: 5%;
    width: 20vw;
    height: 34vh;
    border-radius: 30%;
    border: outset #356194;
}

.foto:hover {
    border: outset #B6DAB8;
}

.derecha {
    margin: 10%;
    width: 75%;
    height: 80%;
}

main h2{
    text-align: center;
    margin-bottom: 5vh;
}

main h3 {
    margin-top: 10%;
}

main p {
    margin-top: 10%;
}



.boton {
    width: 100%;
    background-color: white;
    color: #356194;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 4px;
    transition-property: background-color, border, color;
    border-radius: 10px;
    border: double white;

}

.boton:hover {
    background-color: white;
    border: ridge #308df8;
    color: #308df8;
}



@media screen and (max-width:425px) {
    .en-linea {
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
    }

    main div {
        margin-left: 5%;
    }

    .foto {
        margin: 5%;
        width: 80%;
        height: 34vh;
        border-radius: 30%;
        border: double #356194;
    }
}