main {
    margin-top: 20vh;
    margin-bottom: 15vh;
}



.en-linea {
    max-width: 70%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-top: 1.5%;
    display: grid;
    grid-template-columns: 40% 50%;
    border-radius: 30px;
    transition: 1s;
    background-color: rgb(216, 208, 208);
}

.en-linea:hover {
    border: outset #B6DAB8;
    box-shadow: 0px 0px 40px rgb(45, 182, 45);
}

main div {
    margin-left: 4%;
}

.foto {
    margin: 5%;
    max-width: 100%;
    height: auto;
    border-radius: 30%;
    border: outset #356194;
}

.en-linea:hover .foto {
    border: outset #B6DAB8;
}

.derecha {
    margin: 10%;
    max-width: 75%;
    height: 80%;
    font-size: 4vh;
}

main h2 {
    text-align: center;
    margin-bottom: 5vh;
    font-size: 5vh;

}

main h3 {
    margin-top: 10%;
}

main p {
    margin-top: 10%;
}



.boton {
    width: 100%;
    background-color: rgb(221, 216, 216);
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    letter-spacing: 4px;
    border-radius: 10px;
    border: double white;

}

.boton:hover {
    border: ridge rgba(180, 217, 182, 0.5);
    color: rgba(141, 189, 142, 0.5);
}



@media screen and (max-width:426px) {
    .en-linea {
        margin-top: 1%;
        padding: 0;
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 35% 50%;
    }

    main div {
        margin-left: 5%;
    }

    .foto {
        margin-left: 2%;
        margin-right: 0;
        margin-top: 3%;
        max-width: 70%;
        height: auto;
        border-radius: 30%;
    }
}