main {
    margin-top: 20vh;
    margin-bottom: 15vh;
}

body {
    background-color: rgb(234, 255, 233);
}

.titulo {
    text-align: center;
    margin-top: -5vh;
}

.cajas {
    margin-top: 3%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: left;
    align-content: space-between;
}

.pedido {
    border-radius: 15px;
    max-width: 15%;
    min-width: 10%;
    height: auto;
    padding: 2%;
    padding-right: 0;
    flex: 1 1 200px;
    background-color: #def2fa;
    transition: 1s;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
}

.pedido:hover {
    border: outset var(--color-primario-verde-opacidad);
    box-shadow: 0px 0px 40px rgb(45, 182, 45);
    background-color: rgb(233, 255, 237);
}




.pedido:hover .foto {
    border: outset var(--color-primario-verde-opacidad);
}

.Cli {
    font-size: 4vh;
    text-align: center;
}


.foto {
    border-radius: 20px;
    border: outset var(--color-primario-azul);
    max-width: 80%;
    height: auto;
    align-items: center;
    transition: 3s;
}

.nombre {
    margin-top: 15%;
    font-size: 3vh;
}

.boton {
    margin-top: 15%;
    border: outset var(--color-primario-azul);
    width: 20vh;

}

.boton:hover {
    border: outset var(--color-primario-verde-opacidad);
    color: var(--color-primario-verde-opacidad);
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .pedido {

        border-radius: 15px;
        max-width: 12%;
        min-width: 10%;
        height: auto;
        padding: 2%;
        padding-right: 1%;
    }

    .pedido:hover {
        padding-right: 4%;
    }


    .foto {
        border-radius: 10px;
        min-width: 60px;
        height: auto;
        align-items: center;
    }

    .Cli {
        font-size: 3vh;
        text-align: center;
    }

    p {
        font-size: 90%;
    }

    .boton {
        margin-top: 15%;
        border: outset var(--color-primario-azul);
        max-width: 70%;
    }
}

@media screen and (max-width: 426px) {
    .pedido {
        border-radius: 15px;
        max-width: 10%;
        height: auto;
        padding: 5%;
        padding-right: 15%;
    }

    .pedido:hover {
        padding-right: 13%;
    }

    .boton {
        max-width: 80px;
    }
}

@media screen and (max-width: 376px) {
    .pedido {
        border-radius: 15px;
        max-width: 10%;
        height: auto;
        padding: 4%;
        padding-right: 17%;
    }

    .pedido:hover {
        padding-right: 20%;
    }
}