main {
    margin-top: 20vh;
    margin-bottom: 15vh;
}



.especialista {
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 100%;
    color: black;

}

.especialista:hover {
    border: double var(--color-primario-azul);
    color: var(--color-primario-azul);
}

.especialista {
    text-decoration: none;
}


main div {
    margin-left: 4%;
}

main h2 {
    text-align: center;
}

.foto {
    margin: 2%;
    width: 20vw;
    height: 34vh;
    border-radius: 30%;
    border: outset var(--color-primario-azul);
}

.descripcion {
    background-color: rgb(221, 212, 212);
    border-radius: 50px;
}

main h4 {
    margin: 2%;
    margin-top: 5%;
}

main p {
    margin: 2%;
}

@media screen and (min-width:1025px) {
    .foto {
        height: 80%;
    }

    main h4 {
        font-size: 3vh;
    }
}

@media screen and (width:769px) {
    .especialista {
        grid-template-columns: 40% 20% 40%;
    }

    .foto {
        width: 10vh;
    }

}

@media screen and (max-width:426px) {

    .especialista {
        margin-left: 5%;
        margin-top: 2.5%;
        margin-bottom: 1.5%;
        width: 90%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 50%;
    }

    main div {
        margin-left: 3%;
    }

    .foto {
        margin: 5%;
        width: 40%;
        height: 80%;
        border-radius: 30%;
        border: outset var(--color-primario-azul);
    }

    main h4 {
        font-size: 3vh;
        margin-top: 3%;
    }

    .descripcion{
        margin-top: 3vh;
    }
}

@media screen and (max-width:321px) {
    main h4 {
        margin-top: 0%;
        padding-left: 5%;
    }
}