main {
    margin-top: 20vh;
    margin-bottom: 15vh;
}



.caja {
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 100%;
    color: black;

}

.caja:hover {
    border: double #356194;
    color: #356194;
}

.linea {
    text-decoration: none;
}


main div {
    margin-left: 4%;

}

.foto {
    margin: 2%;
    width: 20vw;
    height: 34vh;
    border-radius: 30%;
    border: outset #356194;
}



.descripcion {
    background-color: rgb(221, 212, 212);
    border-radius: 50px;
}

main h4 {
    margin: 2%;
    margin-top: 5%;
}

main p {
    margin: 2%;
}

@media screen and (max-width:427px) {

    .caja {
        margin-left: 5%;
        margin-top: 2.5%;
        margin-bottom: 1.5%;
        width: 90%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 50%;

    }

    main div {
        margin-left: 3%;

    }

    .foto {
        margin: 5%;
        width: 60%;
        height: 100%;
        border-radius: 30%;
        border: outset #356194;
    }
}

@media screen and (min-width:1023px) {
    .foto {
        height: 80%;
    }

    h4 {
        font-size: 3vh;
    }
}

@media screen and (width:768px) {
    .caja {
        grid-template-columns: 40% 20% 40%;
    }

    .foto {
        width: 30vh;
    }

}