main {
    margin-top: 20vh;
    margin-bottom: 15vh;
}



.especialista {}


.linea {
    margin-left: 5%;
    margin-top: 2.5%;
    margin-bottom: 1.5%;
    width: 90%;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 100%;
    color: black;
    text-decoration: none;
}

.linea:hover {
    border-radius: 20px;
    border: double var(--color-primario-azul);
    color: var(--color-primario-azul);
}

.linea:hover .foto {
    border: outset var(--color-primario-azul);
}

main div {
    margin-left: 4%;
}

main h2 {
    text-align: center;
}

.foto {
    margin: 2%;
    max-width: 100%;
    height: auto;
    border-radius: 30%;
}

.descripcion {
    background-color: rgb(221, 212, 212);
    border-radius: 50px;
}

main h4 {
    margin: 2%;
    margin-top: 5%;
}

main p {
    margin: 2%;
}

@media screen and (min-width:1025px) {

    main h4 {
        font-size: 3vh;
    }
}

@media screen and (width:769px) {
    .linea {
        grid-template-columns: 40% 20% 40%;
    }



}

@media screen and (max-width:426px) {

    .linea {
        margin: 0;
        margin-top: 1.2%;
        padding: 20%;
        padding-left: 0;
        padding-right: 0;
        height: auto;
        grid-template-columns: 100%;
        grid-template-rows: 40% 25% 50%;
    }

    main div {
        margin-left: 3%;
    }

    .foto {
        max-width: 100%;
    }

    main h4 {
        font-size: 3vh;
        margin-top: 3%;
    }

    .descripcion {
        margin-top: 3vh;
    }
}

@media screen and (max-width:321px) {
    .linea {
        margin: 0;
        margin-top: 1.2%;
        padding: 20%;
        padding-left: 0;
        padding-right: 0;
        height: auto;
    }

    .descripcion {
        padding-bottom: 0.5%;
    }

    main h4 {
        margin-top: 0%;
        padding-left: 5%;
    }
}