<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia de pedidos</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/historial.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header>
        <a href="../index.html">
            <div class="logo-completo">
                <img class="encabezado-en-linea logo-imagen" src="../static/img/header/logo/logo.png" alt="logo">
                <img class="encabezado-en-linea logo-letras" src="../static/img/header/logo/letras.png" alt="casalista">
            </div>
        </a>
        <form class="buscador" action="" method="get">
            <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad...">
            <input class="buscador-boton" type="submit" value="🔍">
        </form>
        <div class="menu" id="login">
            <p class="encabezado-en-linea">Bienvenido</p>
            <div class="menu-dropdown" id="login-opciones">
                <a href="perfil.html">Perfil</a>
                <a href="historial.html">Historial</a>
                <a href="../index.html" id="cerrar_sesion" onclick="cerrarSesion()">Cerrar Sesión</a>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (1).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Fletero: Suares Carlos Daniel</h2>
                    <p><strong>26 de Marzo 2024</strong>
                        <br>Dejar comentario <a class="boton" href="trabajador.html"> Click </a>
                    </p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (2).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Pintor: Martinez Estevan </h2>
                    <p><strong>14 de Marzo 2024</strong>
                        <br>Dejar comentario <a class="boton" href="trabajador.html"> Click </a>
                    </p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (3).jpg" alt=""></a>
                </div>
                <div class="derecha">
                    <h2>Jardinero: Lopez Ignacio Facundo</h2>
                    <p><strong>17 de Diciembre 2023</strong>
                        <br>Dejar comentario <a class="boton" href="trabajador.html"> Click </a>
                    </p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (4).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Electricista: Bravo Martin </h2>
                    <p><strong>26 de Octubre 2023</strong>
                        <br>Dejar comentario <a class="boton" href="trabajador.html"> Click </a>
                    </p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (5).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Limpieza: Montenegro Sandra Lujan</h2>
                    <p><strong>15 de Septiembr 2023</strong>
                        <br>Dejar comentario <a class="boton" href="trabajador.html"> Click </a>
                    </p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (6).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Albañil: Fonsi Miguel Angel</h2>
                    <p><strong>14 de Julio 2023</strong>
                        <br>Dejar comentario <a class="boton" href="trabajador.html"> Click </a>
                    </p>
                </div>

            </div>
        </section>
        <section>
            <div class="en-linea">
                <div>
                    <a href="trabajador.html"><img class="foto" src="../static/img/fotos/images (7).jpg"
                            alt="imagen"></a>
                </div>
                <div class="derecha">
                    <h2>Carpintero: Gonzaléz Juan Pablo</h2>
                    <p><strong>10 de Mayo 2023</strong>
                        <br>Dejar comentario <a class="boton" href="trabajador.html"> Click </a>
                    </p>
                </div>

            </div>
        </section>


    </main>
    <footer>
        <div>
            <p class="footer-en-linea" id="TerminosYCondiciones">Términos y condiciones</p>
            <p class="footer-en-linea" id="FAQ">FAQ</p>
            <p class="footer-en-linea" id="QuienesSomos">¿Quíenes somos?</p>
        </div>
        <p class="copyright">&copy; Copyright 2024</p>
    </footer>
    <script src="../static/js/validacion_login.js"></script>
    <script src="../static/js/footer.js"></script>
</body>

</html>