<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/servicios.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header>
        <a href="../index.html">
            <div class="logo-completo">
                <img class="encabezado-en-linea logo-imagen" src="../static/img/header/logo/logo.png" alt="logo">
                <img class="encabezado-en-linea logo-letras" src="../static/img/header/logo/letras.png" alt="casalista">
            </div>
        </a>
        <form class="buscador" id="buscadorEspecialidad">
            <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad...">
            <input class="buscador-boton" type="submit" value="🔍">
        </form>
        <div class="menu" id="login">
            <p class="encabezado-en-linea">Bienvenido</p>
            <div class="menu-dropdown" id="login-opciones">
                <a href="perfil.html">Perfil</a>
                <a href="historial.html">Historial</a>
                <a href="../index.html" id="cerrar_sesion" onclick="cerrarSesion()">Cerrar Sesión</a>
            </div>
        </div>
    </header>
    <main>
        <section id="especialistas">
          <h2>Especialistas</h2>
          <p id="filtroTitulo">Filtrar por:</p>
          <form id="filtrarBusqueda">
            <div class="filtroOpcion">
                <label for="zona">Zona de trabajo:</label>
                <input type="text" name="zona" id="zona">
            </div>
            <div class="filtroOpcion">
                <label for="valoracion">Valoración mínima:</label>
                <input type="number" name="valoracion" id="valoracion" min="1" max="5">
            </div>
            <div>
                <button type="submit">Filtrar</button>
            </div>
          </form>
        </section>
    </main>
    <footer>
        <div>
            <p class="footer-en-linea" id="TerminosYCondiciones">Términos y condiciones</p>
            <p class="footer-en-linea" id="FAQ">FAQ</p>
            <p class="footer-en-linea" id="QuienesSomos">¿Quíenes somos?</p>
        </div>
        <p class="copyright">&copy; Copyright 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/validacion_login.js"></script>
    <script src="../static/js/servicios.js"></script>
    <script src="../static/js/footer.js"></script>
</body>

</html>