<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/servicios.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <header>
        <div class="logo-completo">
            <img class="encabezado-en-linea logo-imagen" src="../static/img/header/logo/logo.png" alt="logo">
            <img class="encabezado-en-linea logo-letras" src="../static/img/header/logo/letras.png" alt="casalista">
        </div>
        
            <form class="buscador" action="" method="get">
                <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad...">
                <input class="buscador-boton" type="submit" value="🔍">
            </form>
            <div class="menu" id="login">
                <p class="encabezado-en-linea">Bienvenido</p>
                <div class="menu-dropdown" id="login-opciones">
                    <a href="perfil.html">Perfil</a>
                    <a href="historial.html">Historial</a>
                    <a href="../index.html" id="cerrar_sesion" onclick="cerrarSesion()">Cerrar Sesión</a>
                </div>
            </div>
    </header>
    <main>
        <section id="especialistas">
          <h2>Especialistas</h2> 
        </section>
    </main>
    <footer>
        <div>
            <p class="footer-en-linea" id="TerminosYCondiciones">Términos y condiciones</p>
            <p class="footer-en-linea">FAQ</p>
            <p class="footer-en-linea" id="QuienesSomos">¿Quíenes somos?</p>
        </div>
            <p class="copyright">&copy; Copyright 2024</p>
    </footer>
    <script src="../static/js/validacion_login.js"></script>
    <script src="../static/js/especialistas.js"></script>
    <script src="../static/js/footer.js"></script>
</body>

</html>