<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo realizado//persona</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/trabajador.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <!-- header main footer-->
    <header>
        <div class="logo-completo">
            <img class="encabezado-en-linea logo-imagen" src="../static/img/header/logo/logo.png" alt="logo">
            <img class="encabezado-en-linea logo-letras" src="../static/img/header/logo/letras.png" alt="casalista">
        </div>

        <form class="buscador" action="" method="get">
            <input type="text" name="especialidad" id="especialidad" placeholder="Especialidad...">
            <input class="buscador-boton" type="submit" value="🔍">
        </form>
        <div class="menu" id="login">
        </div>
    </header>
    <main>
        <section>
            <div class="en-linea">
                <div class="imagenes">
                    <a class="volver" href="historial.html">⏪ </a>
                    <img class="foto" src="../static/img/fotos/images (1).jpg" alt="imagen">
                </div>
                <div class="derecha">

                    <br><br>
                    <h2>Fletero: Suares Carlos Daniel</h2>
                    <br><br>
                    <form>
                        <strong class="amabilidad">
                            <input type="radio" id="star5" name="Amabilidad" value="5">
                            <label class="star" for="star5">★</label>
                            <input type="radio" id="star4" name="Amabilidad" value="4">
                            <label class="star" for="star4">★</label>
                            <input type="radio" id="star3" name="Amabilidad" value="3">
                            <label class="star" for="star3">★</label>
                            <input type="radio" id="star2" name="Amabilidad" value="2">
                            <label class="star" for="star2">★</label>
                            <input type="radio" id="star1" name="Amabilidad" value="1">
                            <label class="star" for="star1">★</label>
                            dadilibamA
                        </strong>
                        <br><br>
                        <strong class="puntualidad">
                            <input type="radio" id="star10" name="Puntualidad" value="5">
                            <label class="star" for="star10">★</label>
                            <input type="radio" id="star9" name="Puntualidad" value="4">
                            <label class="star" for="star9">★</label>
                            <input type="radio" id="star8" name="Puntualidad" value="3">
                            <label class="star" for="star8">★</label>
                            <input type="radio" id="star7" name="Puntualidad" value="2">
                            <label class="star" for="star7">★</label>
                            <input type="radio" id="star6" name="Puntualidad" value="1">
                            <label class="star" for="star6">★</label>
                            dadilautnuP
                        </strong>
                        <br><br>
                        <strong class="proligidad">
                            <input type="radio" id="star15" name="Proligidad" value="5">
                            <label class="star" for="star15">★</label>
                            <input type="radio" id="star14" name="Proligidad" value="4">
                            <label class="star" for="star14">★</label>
                            <input type="radio" id="star13" name="Proligidad" value="3">
                            <label class="star" for="star13">★</label>
                            <input type="radio" id="star12" name="Proligidad" value="2">
                            <label class="star" for="star12">★</label>
                            <input type="radio" id="star11" name="Proligidad" value="1">
                            <label class="star" for="star11">★</label>
                            dadijilorP
                        </strong>
                        <br><br>
                        <strong class="confiabilidad">
                            <input type="radio" id="star20" name="Confiabilidad" value="5">
                            <label class="star" for="star20">★</label>
                            <input type="radio" id="star19" name="Confiabilidad" value="4">
                            <label class="star" for="star19">★</label>
                            <input type="radio" id="star18" name="Confiabilidad" value="3">
                            <label class="star" for="star18">★</label>
                            <input type="radio" id="star17" name="Confiabilidad" value="2">
                            <label class="star" for="star17">★</label>
                            <input type="radio" id="star16" name="Confiabilidad" value="1">
                            <label class="star" for="star16">★</label>
                            dadilibaifnoC
                        </strong>
                        <br><br>
                        <strong><label for="comentario">Comentario</label></strong>
                        <textarea name="comentario" id="comentario" cols="40" rows="5" maxlength="200"></textarea>
                        <br><br><br>
                        <div class="booton">
                            <strong><button class="boton">Enviar</button></strong>
                        </div>
                    </form>

                </div>

            </div>
        </section>

    </main>

    <footer>
        <div>
            <p class="footer-en-linea" id="TerminosYCondiciones">Términos y condiciones</p>
            <p class="footer-en-linea">FAQ</p>
            <p class="footer-en-linea" id="QuienesSomos">¿Quíenes somos?</p>
        </div>
        <p class="copyright">&copy; Copyright 2024</p>
    </footer>
    <script src="../static/js/login.js"></script>
    <script src="../static/js/footer.js"></script>
</body>

</html>